
#NPM
/node_modules
/node_modules/*

#EDITORS
/.vscode/

#CAKEPHP
/logs
/logs/*
/tmp
/tmp/*

#VENDORS
/vendor
/vendor/*

/config/app.php
/plugins/Site/webroot

/plugins/Gerenciador/webroot

.DS_Store

#DYNAMIC CONTENT
#webroot/*
#webroot/**/*

/webroot/uploads/files/*.jpg
/webroot/uploads/files/*.png
/webroot/uploads/files/*.JPEG
/webroot/uploads/files/*.PNG
webroot/uploads/.htaccess
webroot/uploads/.thumbs/*