section.galery {
	&.featured{
		.titlePrimary {
			padding: 20px 38px;
		}
		#header.interna {
			background: $white;
		}

		.searchBox {
			position: relative;
			padding: 0 38px;
			input, select {
				display: block;
				width: 100%;
				margin-bottom: 10px;
				border-radius: 2px;
				padding: 15px;
				border: 1px solid $colorMob2;
				font-size: 12px;
				font-family: $font1;
			}
			input {
				background: $colorMob2;
			}
			i {
				position: absolute;
				right: 14%;
				top: 12px;
				color: $colorMob6;
				font-size: 19px;
			}
		}

		.sendFeatured {
			display: block;
			width: 100%;
			padding: 35px 38px;
			text-align: center;
			background: $colorMob5;
			h3 {
				font-family: $font1;
				color: $white;
				font-size: 20px;
				font-weight: normal;
				span {
					display: block;
					font-weight: 500;
					padding-top: 5px;
				}
			}

			a {
				display: block;
				width: 100%;
				color: $white;
				font-size: 14px;
				border-radius: 3px;
				padding: 15px 0;
				text-align: center;
				font-family: $font1;
				background: $colorMob6;
				margin-top: 25px;
				text-transform: uppercase;
			}
		}

		.featured {
			padding: 40px 38px 20px;
			h2 {
				font-family: $font1;
				font-size: 16px;
				color: $colorMob6;
				font-weight: 500;
				text-transform: uppercase;
				padding-bottom: 10px;

				span {
					color: $colorMob5;
					padding-left: 5px;
					text-decoration: inherit;
					text-transform: none;
				}
			}

			&__full {
				position: relative;
				margin-bottom: 10px;
				a {
					display: block;
					img {
						display: block;
						width: 100%;
						height: 250px;
						object-fit: cover;
						object-position: center;
					}
					h3 {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						background: rgba(0,0,0,.6);
						padding: 15px;
						color: $colorMob6;
						text-transform: uppercase;
						font-family: $font1;
						font-size: 14px;
						font-weight: normal;
						span {
							color: $white;
							padding-left: 5px;
							text-transform: capitalize;
						}
					}
				}
			}

			&__half {
				display: flex;
				justify-content: space-between;
				&--50 {
					width: 100%;
					img {
						width: 100%;
						height: auto;
					}
				}
			}

			#btnMoreGalery {
				display: block;
				width: 100%;
				color: $colorMob6;
				text-align: center;
				font-family: $font1;
				font-weight: 500;
				font-size: 14px;
				padding: 20px 0;
			}
		}
	}

	&.information {
		background: $white;
		h2 {
			padding-left: 28px;
		}
		h3 {
			font-family: $font1;
			font-size: 20px;
			color: $black;
			padding: 0 28px 10px;
		}
		.featuredGalery {
			padding: 0 28px;
			p {
				font-family: $font1;
				color: $colorMob5;
				line-height: 22px;
				span {
					color: $colorMob6;
					font-weight: 600;
					padding-right: 10px;
				}
			}
			&__carousel {
				margin-top: 15px;
				.slick-dots {
					text-align: center;
					li {
						font-size: 0;
						display: inline-block;
						button {
							border-radius: 50%;
							width: 10px;
							height: 11px;
							border: none;
							margin: 0 5px;
						}
						&.slick-active {
							button {
								background: #707070;
							}
						}
					}
				}
			}
			.description {
				h4 {
					font-family: $font1;
					color: $colorMob6;
					text-transform: uppercase;
					font-size: 16px;
					padding-bottom: 20px;
					padding-top: 40px;
				}

				p {
					font-family: $font1;
					color: $colorMob5;
					font-size: 14px;
					line-height: 24px;
				}
				ul {
					li {
						p {
							display: inline-block;
							vertical-align: top;
							&.title {
								width: 45%;
							}
						}
					}
				}
			}
		}

		.related {
			margin-top: 50px;
			border-top: 1px solid #B5D1D8;
			padding: 50px 32px 40px;
			h4 {
				font-family: $font1;
				color: $colorMob6;
				text-transform: uppercase;
				font-size: 16px;
				padding-bottom: 20px;
			}
			ul {
				li {
					display: inline-block;
					width: 48%;
					img {
						width: 100%;
						height: auto;
					}
				}
			}
			a {
				display: block;
				width: 100%;
				text-align: center;
				font-family: $font1;
				color: $black;
				font-size: 16px;
				text-transform: uppercase;
				font-weight: 500;
				margin-top: 20px;
				span {
					color: $colorMob6;
				}
			}
		}
	}
}