#contato{
	padding-top: 70px;
	.wrapper{
		display: flex;
		.split{
			width: 50%;
			display: flex;
			align-items: center;
			flex-direction: column;
			.page_title{
				width: 60%;
			}
			.text{
				width: 60%;
				.paragraph{
					font-size: 18px;
					font-weight: 500;
					.at{
						font-size: 26px;
						font-weight: 400;
						@include break-max(1366px) {
							font-size: 23px;
						}
						@include break-max(1024px) {
							font-size: 21px;
						}
					}
					@include break-max(1366px) {
						font-size: 16px;
					}
					@include break-max(1024px) {
						font-size: 15px;
					}
				}
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}