.form_area {
    &.search_header {
        margin-right: 25px;
        .input_text {
            background-color: #1b1b1b;
            background-image: url('../images/search_icon.png');
            background-repeat: no-repeat;
            background-position: 95% center;
            border: 0;
            font-size: 14px;
            width: 250px;
            color: white;
            padding: 12px 40px 12px 12px;
        }
    }
}