.menuMob {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $colorMob5;
    z-index: 100;
    display: none;
    overflow: scroll;
    .inforTop {
    	width: 100%;
    	position: relative;
    	padding: 30px 0;
    	.clouseLightBox {
    		position: absolute;
    		right: 40px;
    		color: $colorMob6;
    		font-size: 20px;
    		top: 35px;
		}
		img{
			display: inline;
    		margin-top: -8px;
		}
    }
    .search {
    	position: relative;
    	&:after {
    		clear: both;
    	}
    	input {
    		background: #3c3c3c;
    		border: 1px solid #464646;
    		width: 100%;
    		padding: 15px;
    		color: $white;
    		font-family: $font1;
    		font-size: 12px;
    		color: $white;
    	}
    	i {
    		position: absolute;
    		top: 12px;
    		right: 53px;
    		z-index: 9;
    		color: $white;
    		font-size: 20px;
    	}
    }

    ul.list {
    	li {
    		border-bottom: 1px solid #3c3c3c;
    		&:last-child {
    			border-bottom: 0;
    		}
    		a {
    			color: $colorMob6;
    			font-family: $font1;
    			font-size: 16px;
    			text-transform: uppercase;
    			font-weight: bold;
    			display: block;
    			padding: 20px 55px;
    			i {
    				color: #707070;
    				font-size: 16px;
    				margin-right: 30px;
    				vertical-align: middle;
    			}
    		}
    	}
    }

    .social {
    	padding: 30px 55px;
    	ul {
    		li {
    			display: inline-block;
    			vertical-align: top;
    			a {
    				color: $colorMob6; 
    				font-size: 16px;
    				margin-right: 40px;
    			}
    		}
    	}
    }
}
#header {
	background: $colorMob5;
    .viewMob {
        .icon-menu {
            color: $colorMob6;
            font-size: 20px; 
        }
    }

	&.interna {
		background: $white;
		.wrapper{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 40px;
		}
		.logo{
			position: static;
			padding: 0;
		}
	}
	.wrapper {
		max-width: 1920px;
		margin: 0 auto;
		position: relative;
		padding-top: 35px;
		padding-bottom: 30px;
	}
	.logo {
		position: absolute;
		z-index: 99;
		a{
			img{
				margin-top: -13px;
				&.logohome {
					height: 130px;
					margin-top: 0;
				}
			}
		}
		@include break-max(1440px) {
			// top: 90px;
		}
	}
}

body.home {
    @media screen and (max-width: $break-small) {
        #header {
            .logo {
                width: 61%;
                background: #282828;
                padding: 20px;
                height: 203px;
            }
        }
        .webdoor {
            &_footer {
                padding: 50px 40px 162px;
                .arrow {
                    top: 65%;
                }
            }
            .brand_layer {
                img {
                    width: 34%;
                    height: 79px;
                }
            }
            .wrapper {  
                padding: 0 40px;
            }
        }
    }
}