@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

$color1: #282828;
$color2: #bfa05e;
$color3: #837048;

$white: #fff;
$black: #000;

// ******************** Color mobile ******************** //

$colorMob1: #FAFEFF;
$colorMob2: #DBEBEF;
$colorMob3: #B5D1D8;
$colorMob4: #838B95;
$colorMob5: #1C1C1C;
$colorMob6: #BA8425;


// ******************* Break point ********************* //

$break-small: 640px;
$break-large: 1024px;


// ******************* Font ********************* //

$font1: 'Roboto', sans-serif;