body {
	font-family: 'Roboto', sans-serif;
}
img {
	display: block;
}


.watching {
    transition: all 0.5s;
    transform: translate(0, 50%);
    opacity: 0;
    &.right{
        transform: translate(50%, 0);
    }
    &.left {
        transform: translate(-50%, 0);
    }
}

.page_start {
	.watching {
        opacity: 1;
        transform: translateY(0%);
	}
}
.gallery_featured{
	.section_title{
		position: absolute;
		top: 10%;
		padding: 15px 0px;
		z-index: 1;
		max-width: 80%;
		margin: 0 auto;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		.title  {
			color: $color4;
			text-transform: uppercase;
			font-weight: 900;
			margin-left: -8px;
			display: block;
			transition: all ease-in 0.3s;	
			@include get-vw(1366, 86px);
			line-height: 0.95;
			letter-spacing: 4px;
			@include break-max(1366px) {
				@include get-vw(1366,100px);
			}
		}
		.view_more{
			color: white;
			margin-top: 15px;
			transition: all ease-in 0.3s;	
			display: block;
			font-size: 14px;
			font-weight: bold;
			@include get-vw(1366,14px);
			@include break-max(1366px) {
				@include get-vw(1366,18px);
			}
			span {
				color: $color4;
				font-weight: normal;
			}
		}
	}
}
.new_publications{
	.section_title{
		position: absolute;
		top: 10%;
		padding: 15px 0px;
		z-index: 1;
		max-width: 80%;
		margin: 0 auto;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		.title  {
			color: $color4;
			text-transform: uppercase;
			font-weight: 900;
			margin-left: -8px;
			display: block;
			transition: all ease-in 0.3s;	
			@include get-vw(1366, 86px);
			line-height: 0.95;
			letter-spacing: 4px;
			@include break-max(1366px) {
				@include get-vw(1366,100px);
			}
		}
		.view_more{
			color: white;
			margin-top: 15px;
			transition: all ease-in 0.3s;	
			display: block;
			font-size: 14px;
			font-weight: bold;
			@include get-vw(1366,14px);
			@include break-max(1366px) {
				@include get-vw(1366,18px);
			}
			span {
				color: $color4;
				font-weight: normal;
			}
		}
	}
}
.section_title{
	position: absolute;
	top: 20%;
	padding: 50px 30px;
	z-index: 1;
	max-width: 80%;
	margin: 0 auto;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	.title  {
		color: $color4;
		text-transform: uppercase;
		font-weight: 900;
		margin-left: -8px;
		display: block;
		transition: all ease-in 0.3s;	
		@include get-vw(1366, 86px);
		line-height: 0.95;
		letter-spacing: 4px;
		@include break-max(1366px) {
			@include get-vw(1366,100px);
		}
	}
	.view_more{
		color: white;
		margin-top: 15px;
		transition: all ease-in 0.3s;	
		display: block;
		font-size: 14px;
		font-weight: bold;
		@include get-vw(1366,14px);
		@include break-max(1366px) {
			@include get-vw(1366,18px);
		}
		span {
			color: $color4;
			font-weight: normal;
		}
	}
}

.page_title{
	color: $color4;
	font-weight: 900;
	font-size: 30px;
	margin: 0 0 40px;
	width: 100%;
}
.help_title {
	color: $color4;
	font-weight: 900;
	font-size: 20px;
	margin: 0 0 20px;
	width: 100%;
}

.internal{
	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 10px;
	}
}
.white_header{
	#header {
		background: transparent !important;
		.logo{
			background: transparent;
		}
	}
	#main_nav .link:hover, #main_nav .link.active {
		color: $color1;
	}
}

.fix_header {
    #header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        z-index: 99999;
    }
}
figure {
	margin: 0;
}
.alert-info{
    position: relative;
    top: 0;
    text-align: center;
	width: 350px;
    padding: 10px;
    background: #c6a051;
    z-index: 100;
	left: 0;
	margin-bottom: 40px;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    color: #fff;
    text-transform: uppercase;
    border-radius: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-transition: all 3s linear;
    transition: all 3s linear;
	&.hidden{
		opacity: 0;
		z-index: 1;
		transition: all .2s linear;
	}
	span{
		padding: 0 10px;
	}
}
.alert-info-off{
	top: -100px;
	transition: all 3s linear;
}
