#header {
	background: $color1;
	position: relative;
	z-index: 100;
	&.interna {
		.wrapper{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 10px;
			max-width: 1200px;
		}
		.logo{
			position: static;
			padding: 0;
			li{
				position: absolute;
				top: 25px;
			}
		}
	}
	.wrapper {
		max-width: 1366px;
		margin: 0 auto;
		padding-top: 35px;
		padding-bottom: 30px;
	}
	.logo {
		position: absolute;
		top: 45px;
		left: 60px;
		z-index: 1;
		width: 12vw;
		@media screen and (max-width: 1440px){
			left: 3vw;
		}
	}
}